@import "tailwindcss";
@import "uniwind";

@theme {
  --font-caveat: 'Caveat-Regular';
  --font-caveat-bold: 'Caveat-Bold';
}

@layer theme {
  :root {
    @variant light {
      --color-background: #faf8f6;
      --color-foreground: #2d2d2d;

      --color-primary: #2d2d2d;
      --color-primary-foreground: #ffffff;

      --color-muted: #f0eeec;
      --color-muted-foreground: #a8a8a8;

      --color-card: #ffffff;
    }
    @variant dark {
      --color-background: #1a1a1a;
      --color-foreground: #f5f5f5;

      --color-primary: #f5f5f5;
      --color-primary-foreground: #1a1a1a;

      --color-muted: #2d2d2d;
      --color-muted-foreground: #888888;

      --color-card: #242424;
    }
  }
}

